<app-card [title]="tvShowDetails.name">
  <ng-container actions>
    <span class="icon-info"  (click)="redirectToTvShowDetails(tvShowDetails.id)"></span>
    <span class="icon-bookmark highlight" [appToggleFavorite]="tvShowDetails.id" ></span>
  </ng-container>
  <img body [src]="tvShowDetails.image_path" class="section media"/>
  <ng-container footer>
    <div class="section" *ngIf="tvShowDetails.countdown?.air_date && tvShowDetails.status == 'Running'; else displayCountDown">
      Next episode: {{tvShowDetails.countdown?.air_date | date:'dd/MM/yyyy'}} - available {{tvShowDetails | countdown}}
    </div>
    <ng-template #displayCountDown>
      <div class="section" #displayCountDown>
        {{tvShowDetails | countdown}}
      </div>
    </ng-template>
  </ng-container>
</app-card>
